<div style = "width:100%;">  
  <div style = "width:40%;float:left;border:solid 1px black;">  
    <h1 style="color: aqua;"> Uppercase Pipe</h1>  
    <b>{{title | uppercase}}</b><br/>  
    <h1 style="color: blue;">Lowercase Pipe</h1>  
    <b>{{title | lowercase}}</b>  
    <h1 style="color: crimson;">Currency Pipe</h1>  
    <b>{{6589.23 | currency:"USD"}}</b><br/>  
    <b>{{6589.23 | currency:"USD":true}}</b>  
    <h1 style="color: darkorange;">Date pipe</h1>  
    <b>{{todaydate | date:'d/M/y'}}</b><br/>  
    <b>{{todaydate | date:'shortTime'}}</b>  
    <h1 style="color: darkred;">Decimal Pipe</h1>  
    <b>{{ 454.78787814 | number: '3.4-4' }}</b> 
  </div>  
  <div style = "width:40%;float:left;border:solid 1px black;">  
    <h1 style="color: deeppink;">Json Pipe</h1>  
    <b>{{ info | json }}</b>  
    <h1 style="color: dodgerblue;">Percent Pipe</h1>  
    <b>{{00.54565 | percent}}</b>  
    <h1 style="color: gold;">Slice Pipe</h1>  
    <b>{{months | slice:2:6}}</b>  
 s
  </div>  
</div>   